[submodule "ThirdParty/Runtime/Core/spdlog"]
	path = ThirdParty/Runtime/Core/spdlog
	url = https://github.com/gabime/spdlog
[submodule "ThirdParty/Runtime/Graphics/GLFW"]
	path = ThirdParty/Runtime/Graphics/GLFW
	url = https://github.com/jerrysheen/glfw.git
	branch = Dev
[submodule "ThirdParty/Editor/imgui"]
	path = ThirdParty/Editor/imgui
	url = https://github.com/jerrysheen/imgui.git
	branch = Dev
[submodule "ThirdParty/Runtime/Core/glm"]
	path = ThirdParty/Runtime/Core/glm
	url = https://github.com/g-truc/glm
[submodule "ThirdParty/Runtime/Asset/assimp"]
	path = ThirdParty/Runtime/Asset/assimp
	url = https://github.com/AminAliari/assimp.git
[submodule "ThirdParty/Runtime/Core/boost"]
	path = ThirdParty/Runtime/Core/boost
	url = https://github.com/jerrysheen/boost.git
