[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendor/GLFW"]
	path = Hazel/vendor/GLFW
	url = https://github.com/jerrysheen/glfw.git
	branch = Dev
[submodule "Hazel/vendor/imgui"]
	path = Hazel/vendor/imgui
	url = https://github.com/jerrysheen/imgui.git
	branch = Dev
[submodule "Hazel/vendor/glm"]
	path = Hazel/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Hazel/vendor/assimp"]
	path = Hazel/vendor/assimp
	url = https://github.com/AminAliari/assimp.git
